{% extends "userprofile/home.html" %}
{% load staticfiles %}
{% load material_form %}

{% block title %} {{ object.title }} | Discussion | 360 MedNet {% endblock %}
{% block content %}
    <div class="row container">
    <h4>{{ object.title }}</h4>
    {% if post.image %}
        <img height="400px" width="700px" src="{{ post.image.url }}">
    {% endif %}<br>
    {{ object.post_content }}
    <br>{{ object.doctor.first_name }}{{ object.doctor.last_name }}
{#    <br><a href="{% url 'comment' object.id %}" class="button">Comment</a>#}
    <br>
        <p>Comments</p>
        <hr>
    {% for comment in view.comments %}
        <br>{{ comment.comment_content }}
        <br>{{ comment.doctor.first_name  }} &nbsp{{ comment.doctor.last_name  }}
        <br>{{ comment.created_at }}
        <br>
    {% endfor %}
    <hr>
    <form method="POST" action="{% url 'post-comment' object.id %}">
            {% csrf_token %}
           {% form form=form %}{% endform %}

            <button type="submit" name="_submit" class="btn">Comment</button>
        </form>
    </div>

{% endblock %}